.bottom {
    .wrapper {
        text-align: center;
        height: 30vh;
        @include mq(0, 512px) {
            height: 40vh;
        }
        article {
            margin-bottom: 25px;
            border: black;
            h3 {
                font-size: 23px;
                margin-bottom: 15px;
                font-family: $font;
                @include mq(0, 512px) {
                    font-size: 20px;
                }
            }
            p {
                font-size: 16px;
            }
        }
        form {
            input {
                font-family: $font;
                padding: 10px;
                border-radius: 5px;
                outline: none;
                border: none;
                font-size: 15px;
                margin: 1px;
            }
            input[type="text"] {
                width: 50%;
                @include mq(0, 512px) {
                    width: 80%;
                }
            }
            input.btn-0 {
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                    opacity: 70%;
                }
            }
        }
    }
}
