header {
    height: 20vh;
    .wrapper {
        background-color: #ff8762;
        nav {
            display: flex;
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 6px;
            }
            a {
                text-decoration: none;
                color: black;
                margin-left: 4px;
                font-size: 19px;
                transition: 0.2s;
                @include mq(0, 512px) {
                    font-size: 17px;
                    margin-left: 0px;
                }
                &:hover {
                    color: white;
                    opacity: 80%;
                }
            }
            .logo {
                font-family: $font-2;
                font-size: 65px;
                margin-right: auto;
                font-weight: 900;
                @include mq(0, 512px) {
                    font-size: 55px;
                }
            }
        }
    }
}
