.image {
    height: 80vh;
    .wrapper {
        .grid-0 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            article {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                h3 {
                    font-family: $font-2;
                    font-size: 35px;
                }
            }
            div {
                position: relative;
                img {
                    max-width: 100%;
                    object-fit: cover;
                }
                ul.image-list {
                    position: absolute;
                    bottom: 5%;
                    right: 5%;
                    /* li img {
                        border: white;
                        border-style: solid;
                    } */
                    li {
                        display: inline-block;
                        margin-left: 3px;
                        img {
                            height: 100px;
                            transition: transform .2s;
                            &:hover{
                                transform:scale(0.95);
                            }
                        }
                    }
                }
            }
        }
        .list-02 {
            padding: 0;
            li {
                list-style-type: none;
                display: inline-block;
                a {
                    display: inline-block;
                    list-style-type: none;
                    margin-left: 3px;
                    &:hover {
                        opacity: 80%;
                    }
                }
            }
        }
    }
}
