.image {
    .wrapper {
        height: 80vh;
        .grid-0 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 70%;
            @include mq(0, 512px) {
                flex-direction: row;
                grid-template-columns: 1fr;
            }
            article {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                h3 {
                    font-family: $font-2;
                    font-size: 35px;
                }
            }
            div {
                position: relative;
                display: flex;
                @include mq(0, 512px) {
                    display: none;
                }
                img {
                    max-width: 100%;
                    object-fit: cover;
                    @include mq(0, 512px) {
                        margin-top: 5px;
                        display: none;
                    }
                }
                ul.image-list {
                    position: absolute;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    bottom: 2%;
                    @include mq(0, 512px) {
                        display: none;
                    }
                    li {
                        display: inline-block;
                        margin-left: 5px;
                        img {
                            height: 80px;
                            transition: transform 0.2s;
                            &:hover {
                                transform: scale(0.95);
                            }
                        }
                    }
                }
            }
        }
        div {
            .list-02 {
                display: flex;
                justify-content: center;
                margin-top: 10%;
                @include mq(0, 512px) {
                    margin-bottom: 10%;
                }
                li {
                    list-style-type: none;
                    display: inline-block;
                    a {
                        display: inline-block;
                        list-style-type: none;
                        margin-left: 3px;
                        &:hover {
                            opacity: 80%;
                        }
                    }
                }
            }
        }
    }
    #down {
        display: none;
        @include mq(0, 512px) {
            display: block;
            display: flex;
            justify-content: center;
            font-size: 25px;
        }
    }
}
.image-mobile {
    display: none;
    @include mq(0, 512px) {
        display: block;
        height: 100vh;
        .wrapper {
            padding: 0px;
            .mobile-items {
                height: 100%;
                overflow: hidden;
                div {
                    img {
                        height: 100vh;
                        width: auto;
                    }
                }
                .slick-prev {
                    display: none;
                    @include mq(0, 512px) {
                        i {
                            font-size: 50px;
                            position: absolute;
                            z-index: 1;
                            color: white;
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%);
                            &:hover {
                                cursor: pointer;
                                opacity: 70%;
                            }
                        }
                    }
                    .slick-next {
                        display: none;
                    }
                }
            }
        }
    }
}
