body {
    font-family: $font;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    background: #e8e8e8;
    padding: 40px;
}
.btn-0 {
    color: white;
    background: black;
    font-size: 16px;
    text-decoration: none;
    font-family: $font;
    padding: 10px;
    border-radius: 5px;
}
.btn-1 {
    color: white;
    background: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    text-decoration: none;
    font-family: $font;
    padding: 12px;
    border-radius: 10px;
}
